@model Mood_o_Meter.Models.Mood

@using (Html.BeginForm("Create", "Mood")) 
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="control-group">
            @Html.LabelFor(model => model.Moood, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Moood)
                @Html.ValidationMessageFor(model => model.Moood, null, new { @class = "help-inline" })
            </div>
            
            <input type="submit" value="Create" class="btn" />
        </div>
    </fieldset>
}